
TransferManagerCE 2.3/obj/TransferManagerCE.csproj.nuget.g.targets
TransferManagerCE 2.3/obj/TransferManagerCE.csproj.nuget.g.props
TransferManagerCE 2.3/obj/TransferManagerCE.csproj.nuget.dgspec.json
TransferManagerCE 2.3/obj/project.nuget.cache
TransferManagerCE 2.3/obj/project.assets.json
TransferManagerCE 2.3/obj/Debug/net35/TransferManagerCE.pdb
TransferManagerCE 2.3/obj/Debug/net35/TransferManagerCE.GeneratedMSBuildEditorConfig.editorconfig
TransferManagerCE 2.3/obj/Debug/net35/TransferManagerCE.dll
TransferManagerCE 2.3/obj/Debug/net35/TransferManagerCE.csproj.FileListAbsolute.txt
TransferManagerCE 2.3/obj/Debug/net35/TransferManagerCE.csproj.CoreCompileInputs.cache
TransferManagerCE 2.3/obj/Debug/net35/TransferManagerCE.csproj.CopyComplete
TransferManagerCE 2.3/obj/Debug/net35/TransferManagerCE.csproj.AssemblyReference.cache
TransferManagerCE 2.3/obj/Debug/net35/TransferManagerCE.assets.cache
TransferManagerCE 2.3/bin/Debug/net35/UnityEngine.dll
TransferManagerCE 2.3/bin/Debug/net35/UnifiedUILib.dll
TransferManagerCE 2.3/bin/Debug/net35/TransferManagerCE.pdb
TransferManagerCE 2.3/bin/Debug/net35/TransferManagerCE.dll
TransferManagerCE 2.3/bin/Debug/net35/PopsApiWrapper.dll
TransferManagerCE 2.3/bin/Debug/net35/ICSharpCode.SharpZipLib.dll
TransferManagerCE 2.3/bin/Debug/net35/ICities.dll
TransferManagerCE 2.3/bin/Debug/net35/ColossalManaged.dll
TransferManagerCE 2.3/bin/Debug/net35/CitiesHarmony.Harmony.dll
TransferManagerCE 2.3/bin/Debug/net35/Assembly-CSharp.dll
TransferManagerCE 2.3/bin/Debug/net35/Assembly-CSharp-firstpass.dll
TransferManagerCE 2.3/.vs/TransferManagerCE/v17/.suo
TransferManagerCE 2.3/.vs/TransferManagerCE/FileContentIndex/read.lock
TransferManagerCE 2.3/.vs/TransferManagerCE/FileContentIndex/3b9e9376-708e-4e60-93ae-49d395535e82.vsidx
TransferManagerCE 2.3/.vs/ProjectEvaluation/transfermanagerce.metadata.v5.2
TransferManagerCE 2.3/.vs/ProjectEvaluation/transfermanagerce.projects.v5.2
TransferManagerCE 2.3/.vs/TransferManagerCE/DesignTimeBuild/.dtbcache.v2
TransferManagerCE 2.3/.vs/TransferManagerCE/v17/.futdcache.v2
